.filter-container {
  max-width: $maxWidth;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.filter-controls,
.filter-results-section {
  flex-grow: 1;
}

.filter-results-section {
  padding: 0;
  padding-bottom: grid(2);
}

.filter-controls {
  width: grid(50);
  min-width: grid(50);
  max-width: grid(50);
  z-index: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: grid(3) grid(2);
}

@media screen and (max-width: $tablet) {
  .filter-container {
    flex-direction: column;
  }

  .filter-controls {
    width: 100%;
    max-width: 100%;
    flex-grow: 0;
  }
}

.filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}

#filter-form {
  margin-top: grid(2);
}

.checkbox-group-values {
  label.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    input[type="checkbox"] {
      margin-right: grid(1);
    }
  }
}

.filter-group {
  &:not(:last-child) {
    margin-bottom: grid(2);
  }
}

label.checkbox {
  cursor: pointer;
}

.button.clear-filters {
  margin-top: grid(2);
  display: block;
}

.filter-results-section {
  .columns {
    margin: 0;
  }
}

.filter-description {
  margin: grid(2) 0;
  padding: grid(2);
  padding-bottom: 0;

  h2 {
    font-weight: bold;
    font-size: 18px;
  }
}

.resource-row {
  padding: grid(1);

  &:not(:last-child) {
    border-bottom: $defaultBorder;
  }

  .column {
    padding: grid(1.25);
  }

  h4 {
    font-weight: 600;
    margin-bottom: grid(1);
  }

  &:nth-child(odd) {
    background-color: $backgroundGray;
  }
}

@media screen and (max-width: $tablet) {
  .filter-description {
    padding: grid(1);
  }

  .resource-row {
    padding: grid(1) 0;
  }
}

.filter-results-footer {
  padding: grid(2) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
