@media print {
  .navbar-burger,
  .navbar-menu,
  .footer,
  .filter-controls,
  .filter-results-footer {
    display: none !important;
  }

  .navbar {
    box-shadow: none;
  }

  body,
  .navbar,
  .resource-row:nth-child(odd),
  .tag {
    background-color: transparent !important;
  }

  .resource-row,
  .tag {
    padding-left: 0;
    padding-right: 0;
  }

  html,
  body,
  .section,
  .container,
  .columns,
  .filter-container,
  .filter-header {
    overflow: visible;
    display: block;
    color: #000 !important;
  }

  .filter-description,
  .resource-row .column {
    padding: 0 grid(1);
  }

  // Show commas between tag items for legibility
  .tag:not(:last-child)::after {
    content: ", ";
  }
}
